@media (min-width: 481px) {
  .animated {
    transition: all 0.3s ease-in-out;
    position: relative;
  }

  #canvas3d-container {
    background-color: var(--dark);
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  #canvas3d {
    height: 100%;
    width: 100%;
  }

  #drawer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    transition: left 0.5s cubic-bezier(0.82, 0.085, 0.395, 0.895);
    top: 0;
    left: 0vw;
  }

  #drawer.isOpen {
    transition: left 0.5s cubic-bezier(0.82, 0.085, 0.395, 0.895);
    width: 100%;
  }

  #drawer.isClosed {
    left: -50vw;
  }
}

/* MOBILE */
@media (max-width: 480px) {
  #projects-title {
    display: flex;
    justify-content: left;
  }
  .projects-container {
    position: relative;
  }
  .animated {
    transition: all 0.3s ease-in-out;
    position: relative;
  }

  #projects-cont {
    height: 100vh;
    position: absolute;
    z-index: inherit;
  }

  #canvas3d-container {
    background-color: var(--dark);
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: bottom;
  }

  #canvas3d {
    height: 100%;
    width: 100%;
  }

  #drawer {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--dark);
    transition: left 0.5s cubic-bezier(0.82, 0.085, 0.395, 0.895);
    top: 0;
    left: 0;
  }

  #drawer.isOpen {
    transition: left 0.5s cubic-bezier(0.82, 0.085, 0.395, 0.895);
    width: 100%;
  }

  #drawer.isClosed {
    left: -100vw;
  }
}
