#canvas3d-container {
  background-color: var(--dark);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#canvas3d {
  height: 100%;
  width: 100%;
}

#expand-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
