.card-container {
  overflow-y: scroll;
  display: grid;
  width: 100%;
  height: 100%;
  grid-row-gap: 0.5em;
  grid-column-gap: 1em;
}

@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1201px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
