#title-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  word-break: break-all;
  filter: drop-shadow(0 0 2em #646cffaa);
  flex-direction: column;
}

@media (min-width: 481px) {
  #page-title {
    font-size: 6rem;
  }
  #page-subtitle {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  #title-page {
    height: 100vh;
  }
  #page-title {
    font-size: 3rem;
  }
}

#page-title:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

#img-canvas {
  display: flex;
  height: auto;
  width: 100%;
}
