@media (min-width: 481px) {
  #section-container {
    padding: 5%;
  }
}

@media (max-width: 480px) {
  .about-overview {
    text-align: left;
  }
  #about-title {
    display: flex;
    text-align: left;
  }
}

#mypic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#mypic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-overview {
  display: inline-block;
  height: fit-content;
}
